
<% @hotels.each do |hotel| %>
  <p><%= image_tag hotel.get_image(100,100) %></p>
  <p><%= link_to hotel_path(hotel.id) do %><%= hotel.name %><% end %></p>
  <p><%#= hotel.rooms.checklist %></p>
<% end %>

<h2>gmap</h2>




<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
let map
let hotels = <%= raw @hotels.map { |hotel| {lat: hotel.latitude, lng: hotel.longitude, title: hotel.name} }.to_json %>;
let venues = <%= raw @venues.map { |venue| {lat: venue.latitude, lng: venue.longitude, title: venue.name} }.to_json %>;
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7828, lng:-73.9653},
    zoom: 12,
  });

  // ホテルの位置にピンを追加
  hotels.forEach(function(hotel) {
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(hotel.lat, hotel.lng),
      map: map,
      title: hotel.title
    });
  });

// 会場の位置にピンを追加
  venues.forEach(function(venue) {
    var venueMarker = new google.maps.Marker({
      position: new google.maps.LatLng(venue.lat, venue.lng),
      map: map,
      title: venue.title
    });
  });
}

document.addEventListener('DOMContentLoaded', function() {
  // 検索フォームの要素を取得
  var searchForm = document.getElementById('searchForm');

  // 検索フォームの送信イベントを検知
  searchForm.addEventListener('submit', function(event) {
    event.preventDefault(); // デフォルトの送信動作をキャンセル

    // 会場セレクトボックスの要素を取得
    var venueSelect = document.getElementById('venueSelect');
    var selectedVenueId = venueSelect.value; // 選択された会場のID

    // 会場の座標を取得
    var selectedVenue = venues.find(function(venue) {
    return venue.id === parseInt(selectedVenueId, 10);
  });


    if (selectedVenue) {
      // マップの中心を更新
      map.setCenter(new google.maps.LatLng(selectedVenue.lat, selectedVenue.lng));
    }
  });
});


let geocoder

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZCPach9MtYERXIqbP8hQPUf9OSKh4r9Y&callback=initMap" async defer></script>
