<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row ml-5 mb-5 item-line", style="color:#48120E;">
        <h2><%= @hotel.name %></h2>
      </div>
      <div class="row ml-5 mb-5 item-line", style="color:#48120E;">
        <h5><%= @hotel.address %></h5>
      </div>
      <div class="col-4  pt-5">
        <%= image_tag @hotel.get_image(400,300) %>
      </div>
      <div class="row ml-5 mb-5 item-line", style="color:#48120E;">
        <h4><%= @hotel.introduction %></h4>
      </div>
      <div class="row d-flex">
        <table>
          <thead>
             <tr>
              <th>ルームタイプ</th>
              <th>宿泊人数</th>
              <th>確認事項</th>
              <th>料金</th>
            </tr>
          </thead>

            <% @hotel.rooms.each do |room| %>
            　<tr>
            　   <td><%= room.name %></td>
            　   <td><%= room.guest %></td>
            　   <td><%= room.checklist %></td>
            　   <td>
            　     <% if @room_prices && @room_prices[room.id] %>
                    <p><%= number_to_currency(@room_prices[room.id]*1.1, unit: "円", precision: 0) %></p>
                  <% end %>
                </td>
            　</tr>
            <% end %>

        </table>
        <table>
          
        </table>
      </div>
    </div>
  </div>
</div>