<h2><%= @user.last_name %><%= @user.first_name %>さんのレビュー一覧</h2>

<table class = "table table-hover">
  <thead>
    <tr>
      <th>レビューID</th>
      <th>ホテル</th>
      <th>評価</th>
      <th>コメント</th>
      <th>投稿日時</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.id %></td>
        <td><%= comment.hotel.name %></td>
        <td><%= comment.star %><%= render 'public/comments/static_rate', comment: comment %></td>
        <td><%= comment.comment %></td>
        <td><%= comment.created_at.strftime('%Y-%m-%d %H:%M') %></td>
        <td><%= link_to "削除", admin_user_comment_path(@user, comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger float-end" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @comments %>
