<div class="container">
  <div class = "row mt-5">
    <div class="col-12">
      <div style=" color: white; background: #cbe6be; padding: 5px; border: 2px dashed rgba(255 , 255 , 255 , 0.5);
                        -moz-border-radius: 6px; -moz-box-shadow: 0 0 0 5px #cbe6be , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
                        -webkit-border-radius: 6px; -webkit-box-shadow: 0 0 0 5px #cbe6be , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
                        border-radius: 6px; box-shadow: 0 0 0 5px #cbe6be , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5); ">
          <h2 class="text-center", style="color: #48120E">
            <i class="fa-brands fa-pagelines" style="color: #54917f;"></i>
              サービス一覧・追加
            <i class="fa-brands fa-pagelines" style="color: #54917f;"></i>
          </h2>
        </div>
      </div>
    </div>
    <!-- ジャンル用form_forで記載する時削除 -->

      <%= form_with model: @service, url: admin_services_path do |f| %>
        <div class="row mx-auto pt-4 align-items-center">
          <div class = "col-2 ">
            <lavel>サービス登録</lavel>
          </div>
          <div class = "col-3">
          <%= f.text_field :name %>
          </div>
          <div class = "co-3">
            <div style="border: 2px solid #bbc8e6; padding: 2px; border-radius: 5px; text-align: center;">
              <div style="background-color: #bbc8e6; border-radius: 5px;">
                <%= f.submit "新規登録", class: "btn btn-lg" %>
              </div>
            </div>
        </div>
    </div>
    <% end %>

    <!-- ジャンル一覧 -->
    <div class="pt-4">
      <table class = "table table-hover">
        <thead>
          <tr class="active">
            <th>サービス</th>
          </tr>
        </thead>
        <% @services.each do |service| %>
          <tr>
            <td><%= service.name %></td>
            <td><%= link_to "編集する", edit_admin_service_path(service.id), class:"btn font-bold", style: "background-color: #ffe9a9; color: #1A120B;" %></td>
            <td><%= link_to "削除する", admin_service_path(service.id), method: :delete, data: { confirm: '本当に消しますか？' }, class:"btn font-bold", style: "background-color: #ffe9a9; color: #1A120B;" %></td>
          </tr>
        <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>
