<div class="container">
  <div class = "row mt-5">
    <div class="col-12">
      <h2 class="text-center", style="color: #48120E">
          サービス一覧・追加
      </h2>
    </div>
  </div>
  <%= form_with model: @service, url: admin_services_path do |f| %>
    <div class="row mx-auto pt-4 align-items-center">
      <div class = "col-2 ">
        <lavel>サービス登録</lavel>
      </div>
      <div class = "col-3">
      <%= f.text_field :name %>
      </div>
      <div class = "co-3">
        <div style="background-color: #bbc8e6; border-radius: 5px;">
          <%= f.submit "新規登録", class: "btn btn-lg" %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="pt-4">
    <table class = "table table-hover">
      <thead>
        <tr class="active">
          <th>サービス</th>
        </tr>
      </thead>
      <% @services.each do |service| %>
        <tr>
          <td><%= service.name %></td>
          <td><%= link_to "編集する", edit_admin_service_path(service.id), class:"btn font-bold", style: "background-color: #ffe9a9; color: #1A120B;" %></td>
          <td><%= link_to "削除する", admin_service_path(service.id), method: :delete, data: { confirm: '本当に削除しますか？' }, remote: true, class:"btn font-bold", style: "background-color: #ffe9a9; color: #1A120B;" %></td>
        </tr>
      <% end %>
      </tr>
    </table>
  </div>
</div>
