<div class="container">
  <div class="row　pb-5 justify-content-md-center">
    予約履歴一覧
  </div>
  <div class = "mt-4 pt-3">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>予約日時</th>
          <th>予約者</th>
          <th>宿泊者数</th>
          <th>宿泊日</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= link_to admin_booking_path(booking.id) do %>
              <%= booking.created_at.strftime("%Y/%m/%d %H:%M") %><% end %></td>
            <td><%= booking.customer.last_name %><%= booking.customer.first_name %></td>
            <td><%= booking.guest %></td>
            <td><%= booking.check_in %></td>
            <td><%= booking.check_out %></td>
            <td>
              <%= t("enums.order.status.#{order.status}") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class = "mx-auto" ><%= paginate @bookings %></div>
