<h2>レビュー一覧</h2>

<table class = "table table-hover">
  <thead>
    <tr>
      <th>レビューID</th>
      <th>ユーザー名</th>
      <th>ホテル</th>
      <th>評価</th>
      <th>投稿日時</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.id %></td>
        <td><%= link_to admin_user_comments_path(comment.user) do %>
          <%= comment.user.last_name %><%= comment.user.first_name %><% end %></td>
        <td><%= comment.hotel.name %></td>
        <td><%= comment.star %><%= render 'public/comments/static_rate', comment: comment %></td>
        <td><%= comment.created_at.strftime('%Y-%m-%d %H:%M') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @comments %>




