<div class = "container">
  <div class = ""><!--rowを入れるとレイアウトがおかしくなる-->
    <div class = "col-12">
      <div style=" color: white; background: #cbe6be; padding: 7px; border: 2px dashed rgba(255 , 255 , 255 , 0.5);
                    -moz-border-radius: 6px; -moz-box-shadow: 0 0 0 5px #cbe6be , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
                    -webkit-border-radius: 6px; -webkit-box-shadow: 0 0 0 5px #cbe6be , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
                    border-radius: 6px; box-shadow: 0 0 0 5px #cbe6be , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5); ">
        <h2 class="text-center", style="color: #48120E">
          <i class="fa-solid fa-cookie-bite" style="color: #b37039;"></i>
            ホテル新規登録
          <i class="fa-solid fa-cookie-bite" style="color: #b37039;"></i>
        </h2>
      </div>
    </div>
    <div class = "row justify-content-center pt-5">
      <div class = "col-md-6">
        <div>
          <%= form_with model: @hotel, url: admin_hotels_path, local:true do |f| %>
            <div class="row my-lg-2">
              <div class="col-3">
                <%= f.label "ホテル画像" %>
              </div>
              <div class="col-7 px-0">
              <%= f.file_field :item_image, class: "form-control-file item_image", accept: 'image/*' %>
              </div>
            </div>
            <div class="row my-lg-2">
              <div class="col-3">
                <%= f.label :"ホテル名" %>
              </div>
              <div class="col-7 px-0">
                <%= f.text_field :name, class: 'form-control hotel_name' %>
              </div>
            </div>
            <div class="row my-lg-2 ">
              <div class="col-3">
                 <%= f.label :"ホテル説明" %>
              </div>
              <div class="col-7 px-0">
                 <%= f.text_area :introduction, class: 'form-control hotel_introduction',:size=>"40x8"  %>
              </div>
            </div>
            <div class="row my-lg-2 ">
              <div class="col-3">
                 <%= f.label :"住所" %>
              </div>
              <div class="col-7 px-0">
                 <%= f.text_field :address, class: 'form-control hotel_address' %>
              </div>
            </div>
            <div class="row my-lg-2 ">
              <div class="col-3"><%= f.label :"緯度" %></div>
              <div class="col-7 px-0"><%= f.text_field :latitude %></div>
            </div>
            <div class="row my-lg-2 ">
              <div class="col-3"><%= f.label :"経度" %></div>
              <div class="col-7 px-0"><%= f.text_field :longitude %></div>
            </div>
            <div class="row my-lg-2">
              <div class="col-3">
                <%= f.label :"会場" %>
              </div>
              <div class="col-7 px-0">
                <%= f.select :venue_id, options_for_select(@venues.map { |venue| [venue.name, venue.id] }),
                { include_blank: "-- 選択してください --" }, {required: true, class: +"form-control", id: "venue-select" } %>
              </div>
            </div>
            <div class='form-group'>
              <%= f.collection_check_boxes(:service_ids, Service.all, :id, :name) do |service| %>
                <div class='form-check'>
                  <%= service.label class: 'form-check-label' do %>
                    <%= service.check_box class: 'form-check-input' %>
                    <%= service.text %>
                  <% end %>
                </div>
              <% end %>
            </div>
            </div>
            <div class="row my-lg-2 justify-content-md-center ">
              <div class="col-4">
                <div style="border: 2px solid #bee6d8; padding: 2px; border-radius: 5px; text-align: center;">
                  <div style="background-color: #bee6d8; border-radius: 5px;">
                    <%= f.submit "新規登録", class: 'btn btn-lg' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
