<div class="container">
  <div class="row">
    <div class="col-12">
        <h2 class="text-center", style="color: #48120E">
            <%= @user.last_name %><%= @user.first_name %>さんの会員情報編集
        </h2>
      </div>
    </div>
  </div>
  <div class = "row justify-content-center pt-5">
    <%= form_with model: [:admin, @user], url: admin_user_path(@user.id), method: :patch do |f| %>
      <div class="row pb-3" >
        <div class="col-6 ">
          <h5>会員ID</h5>
        </div>
        <div class="col-6 ">
          <h5><%= @user.id %></h5>
        </div>
      </div>
       <div class="row pb-3" >
        <div class="col-6 ">
          <h5>氏名</h5>
        </div>
        <div class="col-6 ">
          <h5><%= @user.last_name %><%= @user.first_name %></h5>
        </div>
      </div>
      <div class="row pb-3" >
        <div class="col-6 ">
          <h5>メールアドレス</h5>
        </div>
        <div class="col-6 ">
          <h5><%= @user.email %></h5>
        </div>
      </div>
      <div class="row pb-3" >
        <div class="col-6 ">
          <h5>会員ステータス</h5>
        </div>
        <div class="col-6 ">
          <h5><%= f.radio_button :is_active, false %>
          <%= f.label :is_active, "退会" %></h5>
          <h5><%= f.radio_button :is_active, true %>
          <%= f.label :is_active, "有効" %></h5>
        </div>
      </div>
        <div class="row justify-content-md-center">
           <div class = "col-md-6">
              <div style="border: 2px solid #bee6d8; padding: 2px; border-radius: 5px; text-align: center;">
                <div style="background-color: #bee6d8; border-radius: 5px;">
                  <%= f.submit "変更を保存", class:"btn btn-lg" %>
                </div>
              </div>
            </div>
        </div>
      <% end %>
  </div>
</div>