<div class="container">
  <div class="row">
    <div class="fixed-top p-2">
      <div class="d-flex content-between align-items-center md-4 ">
        <div class="btn-group">
          <%= link_to root_path, class: "btn font-bold", class: "header-logo" do %>
            <h2><strong>Live Going</strong></h2>
          <% end %>
        </div>
        <div class="btn-group ml-auto">
          <nav class="d-flex align-items-center">
            <ul class="navbar-nav list-group-horizontal ">
              <% if customer_signed_in? %>
                <% if customer_signed_in? && current_customer.present? %>

                <% end %>
                <div style="border: 2px solid #e2eda8; padding: 2px; border-radius: 5px; text-align: center;">
                  <div style="background-color: #e2eda8; border-radius: 5px;">
                    <li class="nav-item"><%= link_to "マイページ", customers_show_path, class: "btn font-bold ", style: " color: #48120E;" %></li>

                  </div>
                </div>
                <div style="border: 2px solid #e2eda8; margin-left: 5px; padding: 2px; border-radius: 5px; text-align: center;">
                  <div style="background-color: #e2eda8; border-radius: 5px;">
                    <li class="nav-item"><%#= link_to "カート", comments_path, class: "btn font-bold ", style: " color: #48120E;"%></li>
                  </div>
                </div>
                <div style="border: 2px solid #d6a5b5; margin-left: 5px; padding: 2px; border-radius: 5px; text-align: center;">
                  <div style="background-color: #d6a5b5; border-radius: 5px;">
                    <li class="nav-item"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn font-bold ", style: "color: #48120E;"%></li>
                  </div>
                </div>

              <% elsif admin_signed_in? %>
                <% if customer_signed_in? && current_customer.present? %>
                  <div class="text-warning ml-4 mt-2"><%= "ようこそ、#{current_customer.family_name}さん！" %></div>
                <% end %>
                <div style="border: 2px solid #d6d6a5; margin-left: 5px; padding: 2px; border-radius: 5px; text-align: center;">
                  <div style="background-color: #d6d6a5; border-radius: 5px;">
                    <li class="nav-item"><%= link_to "ホテル一覧", admin_hotels_path, class: "btn font-bold ", style: " color: #48120E;"%></li>
                  </div>
                </div>
                <div style="border: 2px solid #ededa8; margin-left: 5px; padding: 2px; border-radius: 5px; text-align: center;">
                  <div style="background-color: #ededa8; border-radius: 5px;">
                    <li class="nav-item"><%= link_to "会員一覧", admin_customers_path, class: "btn font-bold ", style: " color: #48120E;"%></li>
                  </div>
                </div>
                <div style="border: 2px solid #ededa8; margin-left: 5px; margin-left: 5px; padding: 2px; border-radius: 5px; text-align: center;">
                  <div style="background-color: #ededa8; border-radius: 5px;">
                    <li class="nav-item"><%= link_to "注文履歴一覧", admin_root_path, class: "btn font-bold ", style: " color: #48120E;"%></li>
                  </div>
                </div>
                <div style="border: 2px solid #ededa8; margin-left: 5px; padding: 2px; border-radius: 5px; text-align: center;">
                  <div style="background-color: #ededa8; border-radius: 5px;">
                    <li class="nav-item"><%= link_to "会場一覧", admin_venues_path, class: "btn font-bold ", style: " color: #48120E;"%></li>
                  </div>
                </div>
                <div style="border: 2px solid #ededa8; margin-left: 5px; padding: 2px; border-radius: 5px; text-align: center;">
                  <div style="background-color: #ededa8; border-radius: 5px;">
                    <li class="nav-item"><%= link_to "サービス一覧", admin_services_path, class: "btn font-bold ", style: " color: #48120E;"%></li>
                  </div>
                </div>
                <div style="border: 2px solid #d6a5b5; margin-left: 5px; padding: 2px; border-radius: 5px; text-align: center;">
                  <div style="background-color: #d6a5b5; border-radius: 5px;">
                    <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn font-bold ", style: "background-color: #d6a5b5"%></li>
                  </div>
                </div>
              <% else %>
                <div style="border: 2px solid #a4d5bd; margin-left: 5px; padding: 2px; border-radius: 5px; text-align: center;">
                  <div style="background-color: #a4d5bd; border-radius: 5px;">
                    <li class="nav-item"><%= link_to "About", about_path, class: "btn font-bold", style: "color: #48120E;"%></li>
                  </div>
                </div>
                <div style="border: 2px solid #a4d5bd; margin-left: 5px; padding: 2px; border-radius: 5px; text-align: center;">
                  <div style="background-color: #a4d5bd; border-radius: 5px;"><li class="nav-item">
                    <li class="nav-item"><%= link_to "新規登録", new_customer_registration_path, class: "btn font-bold", style: "color: #48120E;"%></li>
                  </div>
                </div>
                <div style="border: 2px solid #a5c9d6; margin-left: 5px; padding: 2px; border-radius: 5px; text-align: center;">
                  <div style="background-color: #a5c9d6; border-radius: 5px;">
                    <li class="nav-item"><%= link_to "ログイン", new_customer_session_path, class: "btn font-bold", style: "color: #48120E;"%></li>
                  </div>
                </div>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>

    </div>
  </div>
</div>
